<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

</head>
<body>
    <h1 class="text-center">Welcome to Landon Hotel!</h1>
    <div class="text-center">
        <a href="/reservations" >Room Reservations</a>

    </div>
    <div class="text-center">
        <a href="/guests" >Guests</a>
    </div>
    <div class="text-center">
        <a href="/rooms" >Rooms</a>
    </div>
    <div class="text-center">
        <a href="/rooms" >Booking Room</a>
    </div>
</body>
</html>